<%= stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'login', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= form_for @user, url: "/users/forgotPassword",authenticity_token: true, remote: true,html: {onsubmit: "openMailSentBox()" } do |form|%>

    <div class="row m-5">
        <h2 class="heading mb-3">Enter your registered Mail Id</h2>

        <div class="input-group my-3">
            <input class="form-control" type="text" title="Please enter a proper Mail-id" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="user[email]" onfocusout="resetPasswordButton()" required value="" id="email" placeholder="E-mail Id">
        </div>

        <button type="submit" class="btn btn-primary my-4 ms-5" disabled>Send Mail</button>

        <div class="or">
            OR
        </div>
        <span>
                <a href="/users/login">Login ?</a>
        </span>

    </div>
<% end %>

<div class="mail-pop-up-container">
  <div class="mail-pop-up-box">
      <h4>
      An E-mail has been sent to your registered Mail-Id. Please check your Inbox to reset your password
      </h4>
      <button class="btn btn-outline-danger mt-4" onclick="closeMailSentBox()"> Close </button>

</div>
</div>
