setTimeout(() => {
    document.querySelector(".webspire-video").removeAttribute("loop");
}, 11000);

$(".multiple-items").slick({
    infinite: false,
    arrows: true,
    speed: 400,
    slidesToShow: 6,
    slidesToScroll: 2,
    touchMove: true,
    edge: true,
    responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 2,
                dots: true,
            },
        },
        {
            breakpoint: 600,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
            },
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
            },
        },
    ],
});
$(".post-content").slick({
    infinite: false,
    arrows: true,
    speed: 400,
    slidesToShow: 1,
    slidesToScroll: 1,
    swipeToSlide: true,
    touchMove: true,
    edge: true,
    dots: true,
});

function showMoreOption(post_id) {
    document.getElementById(
        "reportPost"
    ).href = `mailto:mohammed.hasan@fwsa.freshworks.com?subject=Regarding inappropriateness of a Post&body=Post of id: ${post_id} is inappropriate. Kindly review it.`;
    $(".more-option-box").css({
        transform: "scale(1)",
        transition: "all 0.3s",
    });
    $(".more-option-box-container").css({
        backdropFilter: "brightness(50%)",
        zIndex: "2",
        transition: "all 0.3s",
    });
}

function hideMoreOption() {
    document.getElementById("reportPost").href = "";
    $(".more-option-box").css({
        transform: "scale(0.001)",
        backdropFilter: "blur(0)",
    });
    $(".more-option-box-container").css({
        backdropFilter: "brightness(100%)",
        zIndex: "-1",
    });
}

function openPostDialog() {
    $(".post-dialog-container").css({
        backdropFilter: "brightness(50%)",
        zIndex: "2",
        transition: "all 0.3s",
    });
    $(".post-dialog-box").css({
        transform: "scale(1)",
        transition: "all 0.3s",
    });
}

function closePostDialog() {
    $(".post-dialog-box").css({
        transform: "scale(0.001)",
        backdropFilter: "blur(0)",
    });
    $(".post-dialog-container").css({
        backdropFilter: "brightness(100%)",
        zIndex: "-1",
    });
}

function openStoriesDialog() {
    $("#story-file").trigger("click");
}

function uploadStory() {
    $("#story-form").submit();
}

function showComments(comments,users) {
  $(".post-comments").show(300);
  let output = "";

  if (comments.length == 0) {
    document.getElementsByClassName("comments-container")[0].innerHTML = `<h2 style="text-align:center;margin:5%">Be the first to add comment to this post...</h2>`;
    return;
  }

  for(comment of comments){
   for(user of users){
   if(comment.user_id == user.id){
        output += `
            <div class="comment-container">
            <div class="comment-details">
                <div class="commentor-profile">
                    <img src="<%= asset_path "user-default-icon.png"%>" alt="">
                </div>
                <p class="commentor"><a href="/profile/${user.id}">${user.user_name}</a></p>
                <p class="commented-time">${comment.created_at.slice(0,10)}</p>
            </div>
            <div class="comment">
                ${comment.comment}
            </div>
        </div>`
     }
     }
    }
    document.getElementsByClassName("comments-container")[0].innerHTML = output;
}

function hideComments() {
    $(".post-comments").hide(100);
}
