$(".multiple-items").slick({
    infinite: false,
    arrows: true,
    speed: 400,
    slidesToShow: 6,
    slidesToScroll: 2,
    touchMove: true,
    edge: true,
    responsive: [{
            breakpoint: 1024,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 2,
                dots: true,
            },
        },
        {
            breakpoint: 600,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
            },
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
            },
        },
    ],
});
$(".post-content").slick({
    infinite: false,
    arrows: true,
    speed: 400,
    slidesToShow: 1,
    slidesToScroll: 1,
    swipeToSlide: true,
    touchMove: true,
    edge: true,
    dots: true,
});

function showMoreOption(post_id) {
    document.getElementById(
        "reportPost"
    ).href = `mailto:mohammed.hasan@fwsa.freshworks.com?subject=Regarding inappropriateness of a Post&body=Post of id: ${post_id} is inappropriate. Kindly review it.`;
    document.getElementById("goToPost").href="/post/"+post_id;
    $(".more-option-box").css({
        transform: "scale(1)",
        transition: "all 0.3s",
    });
    $(".more-option-box-container").css({
        backdropFilter: "brightness(50%)",
        zIndex: "2",
        transition: "all 0.3s",
    });
}

function hideMoreOption() {
    document.getElementById("reportPost").href = "";
    $(".more-option-box").css({
        transform: "scale(0.001)",
        backdropFilter: "blur(0)",
    });
    $(".more-option-box-container").css({
        backdropFilter: "brightness(100%)",
        zIndex: "-1",
    });
}

function openPostDialog() {
    $(".post-dialog-container").css({
        backdropFilter: "brightness(50%)",
        zIndex: "2",
        transition: "all 0.3s",
    });
    $(".post-dialog-box").css({
        transform: "scale(1)",
        transition: "all 0.3s",
    });
}

function closePostDialog() {
    $(".post-dialog-box").css({
        transform: "scale(0.001)",
        backdropFilter: "blur(0)",
    });
    $(".post-dialog-container").css({
        backdropFilter: "brightness(100%)",
        zIndex: "-1",
    });
}

function openStoriesDialog() {
    $("#story-file").trigger("click");
}

function uploadStory() {
    $("#story-form").submit();
}

function showComments(comments,users,current_user_id,user_images) {
  $(".post-comments").show(300);
  let output = "";

  if (comments.length == 0) {
    document.getElementsByClassName("comments-container")[0].innerHTML = `<h2 style="text-align:center;margin:5%" id="no-comments-tool-tip">Be the first to add comment to this post...🤩</h2>`;
    return;
  }

  for(comment of comments){
    for(user of users){
        if(comment.user_id == user.id){
        let deleteIcon = `<a class="delete-comment" data-index="${comment.id}" onclick="deleteComment(event,${comment.id})" >
                                <img src="<%= asset_path 'delete-icon.jpg' %>" class='delete-comment-icon'   width='45%'>
                          </a>`;
            output += `<div class="comment-container">
                        <div class="comment-details">
                        <div class="commentor-profile">
                        <a href="/profile/${user.id}" target="_blank">
                            <img src="${user_images[user.id]}" alt="">
                        </a>
                        </div>
                        <p class="commentor"><a href="/profile/${user.id}">${user.user_name}</a></p>
                        <p class="commented-time">${comment.created_at.slice(0,10)}</p>
                        ${current_user_id == comment.user_id ? deleteIcon : ""}
                    </div>
                    <div class="comment">
                        ${comment.comment}
                    </div>
                </div>`
                }
         }
    }
    document.getElementsByClassName("comments-container")[0].innerHTML = output;
}

function hideComments() {
    $(".post-comments").hide(100);
}

function deleteComment(event,comment_id) {
    $(event.target.parentNode.parentNode.parentNode).hide(150);
    jQuery.ajax({
        type: "put",
        url: `http://localhost:3000/comment/delete/${comment_id}`,
        beforeSend: function(xhr) {
            xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
        }
    });
}

function addComment(user,user_profile,post_id){

    var today = new Date();
    var date = today.getFullYear() + '-0' + (today.getMonth()+1) + '-0' + today.getDate();
    let comment = document.getElementById(`add-comment-${post_id}`).value;

    let be_first_container = document.getElementById("no-comments-tool-tip");
    if(be_first_container){
       be_first_container.innerHTML = be_first_container.innerText == "Be the first to add comment to this post...🤩" ? "" : be_first_container.innerText;
}
    document.getElementsByClassName("comments-container")[0].innerHTML  +=
      `<div class="comment-container">
                        <div class="comment-details">
                        <div class="commentor-profile">
                        <a href="/profile/${user.id}">
                            <img src="${user_profile}" alt="">
                        </a>
                        </div>
                        <p class="commentor"><a href="/profile/${user.id}">${user.user_name}</a></p>
                        <p class="commented-time">${date}</p>
                        <a class="delete-comment" href="">
                            <img src="<%= asset_path 'delete-icon.jpg' %>" class='delete-comment-icon' alt=""  width='45%'>
                        </a>

                    </div>
                    <div class="comment">
                        ${comment}
                    </div>
                </div>`
                let post_container = document.getElementsByClassName('post-comments')[0];
                    post_container.scrollTop = post_container.scrollHeight + 100;
                setTimeout(() => {
                console.log("running")
                    document.getElementById(`add-comment-${post_id}`).value = "";
                },500);
}

function updateLike(post_id,event){
    let el = event.target;
    if(el.getAttribute("liked") == "false"){
        let likesCount = document.getElementById(`likesCountForPost${post_id}`);
        likesCount.innerHTML = JSON.parse(likesCount.innerHTML) + 1;
        event.target.src = "<%= asset_path 'liked-icon.png'%>";
        event.target.style.animation = "animateLike 0.3s 1";
        el.setAttribute("liked","true");
    }else{
        let likesCount = document.getElementById(`likesCountForPost${post_id}`);
        likesCount.innerHTML = JSON.parse(likesCount.innerHTML) - 1;
        event.target.src = "<%= asset_path 'like-icon.png'%>";
        event.target.style.animation = "";
        el.setAttribute("liked","false");
    }
}
