body {
    background-color: #fffbf5;
}

.container {
    font-family: 'Poppins';
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;
}

.container h1 {
    position: relative;
}

.container h1::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -20%;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: black;
    margin: 0 auto;
}

.activity-container {
    width: 90%;
    margin: 0 auto;
}

.activity-container .user-img {
    width: 5%;
    height: 5%;
}

.activity-container .friend-requests {
    display: flex;
    align-items: center;
    padding: 1%;
    border-radius: 5px;
    transition: 0.2s all;
    cursor: default;
}

.activity-container .friend-requests:hover {
    background-color: #dedddd;
}

.activity-container .user-img img {
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.activity-container .friend-requests .friend-requests-link,
.user-name {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    margin: 0% 1%;
    transition: 0.2s all;
}

.activity-container .friend-requests .user-name:hover {
    color: #198cff;
}

.activity-container .friend-requests .friend-requests-link {
    font-size: 20px;
}

.friend-requests .activity {
    margin-left: 1%;
    width: 100%;
    font-size: 18px;
}

.requests-count {
    background-color: #ff3232 !important;
}

.friend-requests.info:hover {
    background-color: #ffffff;
}

.friend-requests.info {
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    color: #ff3f3f;
    position: relative;
}

.friend-requests.info::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 59%;
    display: inline-block;
    width: 42%;
    height: 3%;
    background-color: #ff8a8a;
}

.friend-requests.info::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    display: inline-block;
    width: 41%;
    height: 3%;
    background-color: #ff8a8a;
}

.friend-requests.info>.up-arrow {
    margin: 0% 0% .5% 1%;
}