body {
    box-sizing: border-box;
    font-family: 'Poppins';
    overflow-x: hidden;
}

.user-profile-container {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    column-gap: 5%;
}

.user-profile-container .user-img {
    width: 470px;
    height: 470px;
}

.user-profile-container .user-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-details {
    width: 50%;
}

.user-details .user-name {
    font-size: 30px;
    font-weight: bold;
}

.user-details .user-description {
    display: flex;
    flex-direction: column;
}

.user-info {
    width: 70%;
}

.user-description .followers {
    font-size: 22px;
}

.user-description .score .user-score {
    font-size: 24px;
    margin: 2% auto 0% 0%;
    font-weight: bold;
}

.user-description .followers div {
    margin: 2%;
    display: inline-block;
}

.user-description .user-info {
    font-size: 20px;
}

.post-header {
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.user-posts {
    margin-left: 5%;
    margin-top: 2%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 50vh;
}

.user-posts .post {
    padding: 2%;
    margin: 5% 0%;
    position: relative;
    width: 100%;
    height: 450px;
}

.post .delete-post {
    position: absolute;
    top: 4%;
    left: 2%;
    width: 87%;
    height: 93%;
    opacity: 0;
    transition: 0.3s all;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.post .delete-post a {
    width: 7%;
    height: 12%;
    margin: 3%;
    cursor: pointer;
    border-radius: 5px;
    z-index: 10;
}

.post .delete-post a img {
    width: 100%;
    border-radius: 5px;
}

.post .view-post-link {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
    z-index: 1;
}

.post:hover>.delete-post {
    opacity: 1;
}

.user-posts .post .post-img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
}

.user-details .follow-requests {
    margin-top: 3%;
    display: flex;
    column-gap: 2%;
}

.user-details .user-name .edit-profile {
    width: 50px;
}

.nothing-posted {
    text-align: center;
    grid-column: span 3;
    margin: 3% 4% 0 6%;
}