.post-content>div,
.post-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.postsContainer {
    overflow: hidden;
    margin-top: 5%;
}

.post-credits>.post-description-container {
    height: 40%;
}