body {
    background-color: rgb(237, 237, 237);
    overflow-y: scroll;
}

.btn:disabled {
    opacity: 0.5;
}

form {
    transform: translate(50%, 1%);
    position: absolute;
    inset: 0% auto auto 24%;
    width: 27%;
    height: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px grey;
    background-color: aliceblue;
    border-radius: 6px;
}

.heading {
    margin-bottom: 5px;
    font-family: 'Poppins';
}

h4 {
    color: rgb(144, 144, 144);
    margin-top: 8% !important;
    font-family: 'Poppins';
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    appearance: none;
}

.input-group {
    justify-content: center;
}

.input-group .form-control {
    flex: 0 0 90%;
}

.btn-primary {
    font-size: 20px;
    width: 78%;
    letter-spacing: 1px;
    border-radius: 5px;
}

.or {
    font-family: cursive;
    font-size: 20px;
    position: relative;
    color: grey;
}

.or::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -5%;
    height: 1%;
    width: 44%;
    background-color: grey;
    ;
}

.or::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 61%;
    height: 1%;
    width: 44%;
    background-color: grey;
}

.showPassword {
    position: absolute;
    top: 2%;
    left: 82%;
    width: 9%;
}

input:invalid {
    color: red;
}

input:valid {
    color: rgb(6, 215, 6);
}