<%= stylesheet_link_tag 'followRequests', media: 'all', 'data-turbolinks-track': 'reload' %>

 <div class="container p-3 mt-1">
        <div class="activity-container">
            <h1 class="my-4">Friend Requests</h1>
            <div class="activity-content">
                <div class="friend-requests">
                    <div class="user-img">
                        <img src="<%= asset_path "user-default-icon.png" %>" alt="">
                    </div>
                    <a href="" class="user-name">mohammed_mohsin007</a>
                    <div class="options">
                        <a class="btn btn-primary">Accept</a>
                        <a class="btn btn-outline-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
