<%= stylesheet_link_tag 'profile', media: 'all', 'data-turbolinks-track': 'reload' %>
<title>Profile Page</title>
<div class="container">

    <div class="user-profile-container">
        <div class="user-img mx-5">
            <img src="<%= asset_path 'user-default-icon.png' %>" alt="">
        </div>

        <div class="user-details">
            <div class="user-name">
                hasan_the_don007
                <a href="editProfile.html" class="edit-profile m-5">
                    <img src="./../assets/images/edit-icon.png" width="5%" alt="Edit Option">
                </a>
            </div>
            <div class="user-description">
                <div class="score">
                    <p class="user-score">20000000 points</p>
                </div>
                <div class="followers">
                    <div>
                        <strong>1000</strong> Posts
                    </div>
                    <div>
                        <strong>1000</strong> Followers
                    </div>
                    <div>
                        <strong>1000</strong> Following
                    </div>
                </div>
                <div class="user-info">
                    <strong>Mohammed Hasan</strong> <br> yjnef v Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officiis impedit quaerat laborum? Laborum minima sequi nobis in excepturi incidunt nesciunt praesentium eius a alias!
                    Dolorem iste doloribus corporis labore!
                </div>
            </div>

        </div>
    </div>
</div>
<h2 class="post-header">Your Posts</h2>
<div class="user-posts">
    <div class="post">
        <img src="./../assets/images/activity.png" alt="">
    </div>
    <div class="post">
        <img src="./../assets/images/activity.png" alt="">
    </div>
    <div class="post">
        <img src="./../assets/images/activity.png" alt="">
    </div>
    <div class="post">
        <img src="./../assets/images/activity.png" alt="">
    </div>
    <div class="post">
        <img src="./../assets/images/appleStore.jpg" alt="">
    </div>
    <div class="post">
        <img src="./../assets/images/google.jpg" alt="">
    </div>
    <div class="post">
        <img src="./../assets/images/activity.png" alt="">
    </div>

</div>